body {
    font-family:'Montserrat';
}


#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

/* navbar */

.container-fluid {
    padding: 3% 15% 7%;

}

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: 500 ;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: lighter;
}

.downbtn{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features */

#features {
    text-align: center;
    padding: 7% 15%;
    position: relative;
    background-color: #fff;
}
.fdiv {
    text-align: center;
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials */ 

#testimonials {
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
}

.carousel-item {
    padding: 7% 25%;
}

.testimonial-image {
    margin: 20px;
    border-radius: 100%;
    width: 10%;
}

/* Press */

#press {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    padding: 3px;
}

.press-image {
    width: 13%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
    text-align: center;
}

@media (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0deg);
    }

    #title {
        text-align: center;
    }
}

/* call to action */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 5% 15%;
}

.cta-h3 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    color: #fff;
}

/* footer */

#footer {
    background-color: #fff;
    text-align: center;
    padding: 5% 15%;
}

.footer-p {
    font-size: 0.8rem;
}
.footer-i {
    margin: 20px 10px;
}

.footer-i:hover {
    color: #ff4c68;
}
